.navigation
  font-size: remCalc(16, 11)
  display: flex
  justify-content: flex-end
  align-items: flex-start
  margin-bottom: emCalc(15)
  min-height: emCalc(50)

  @media $mediaQuerySmall
    font-size: 1rem

  &__home
    border-bottom: 0
    margin: 1em
    &__image
      width: emCalc(100)
      height: emCalc(100)

    .index &
      display: none

  &__list
    display: flex
    flex-grow: 1
    align-items: center
    justify-content: center

    &__item a
      border: none
