/**
 * Base styles
 */
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  font-family: 'Raleway', sans-serif
  color: #fff
  font-size: 1rem
  line-height: 1.2
  padding: 0px 1.5625em
  background: #BBB4B4
  font-feature-settings: 'kern'
  min-height: 100%
