.contriboot
  max-width: 480px

.entry
  margin-bottom: 20px

  &__header
    display: flex
    justify-content: space-between
    align-items: baseline
    flex-wrap: wrap

    &__title
      font-size: 32px

    &__votes
      font-size: 16px

      &__button
        display: none

    &__author
      width: 100%

  &__description
    display: none
