fieldset
  border: none
  margin-bottom: 20px

input,
textarea
  outline: none

input[type="text"],
textarea
  padding: 15px 10px
  font-size: 16px
  display: block
  width: 100%
  border: none

textarea
  height: 100px


.contriboot
  max-width: 480px
  margin: 30px 0 50px

.entry
  margin-bottom: 20px

  &__header
    display: flex
    justify-content: space-between
    align-items: baseline
    flex-wrap: wrap

    &__title
      font-size: 32px

    &__votes
      font-size: 16px

      &__button
        margin-left: 5px
        color: #004b9f
        background: none
        border: none
        font-size: 16px
        cursor: pointer

    &__author
      width: 100%

  &__description
    display: none

.submit-form
  &__header
    display: block
    text-align: center

  & input[type="radio"]
    display:none

  & input[type="radio"] + label
    background-color:#999
    box-shadow: 2px 2px 0px 2px #777
    padding:4px 11px
    font-family:Arial
    font-size:16px
    cursor: pointer
    margin-right: 10px
    padding-bottom: 0

  & input[type="radio"]:checked + label
    background-color: #0069b4
    box-shadow: 2px 2px 0px 2px #004b9f

.user
  display: flex
  justify-content: space-between
  align-items: baseline
